# Temporary files
.DS_Store
*.pyc
*.swp
*.swo
*~
\#*
.#*
._*

# Build output
dist/

# Generated types
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.production

# IDE files
/.idea
/.vscode
/.cursorignore
/.cursorrules

# LLM files
/.claude
